body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; margin:0px;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.mainbody {
	margin:8px;
	text-align:center;
}

table {
  margin-right: auto;
  margin-left: auto;	
}

table.dataframe, .dataframe th {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

table.dataframe, .dataframe td {
  border-bottom: 1px solid #C8C8C8;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
}

.avgweather th {
    background-color: #add8e6;
    color: white;
}

.bg-cochineal-red, .bg-red {
    background-color: #ab0520;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container:after, .container:before {
    content: " ";
    display: table;
}

:after, :before {
    box-sizing: border-box;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}

.rowbanner {
    margin-left: 0px;
    margin-right: 0px;
}

.row:after, .row:before {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.container:after {
    clear: both;
}

.arizona-logo {
    display: inline-block;
    height: 20px;
    margin: 19px 0 20px;
    max-width: 80%;
    float: left;
    width: 276px;
    padding: 0 0 0 .6rem;
}

* {
    box-sizing: border-box;
}

select {
  padding: 5px 5px;
  margin: 8px 0;
  border-radius: 4px;
  width: 220px;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}	
input[type=submit] {
  width: 150px;
  background-color: #ab0520;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #660615;
}
