<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='color.css') }}">
    <title>WINDS</title>
</head>

<body>
  <header class="bg-cochineal-red">
			<section class="container">
				<div class="rowbanner"><a href="http://www.arizona.edu" title="The University of Arizona homepage" class="arizona-logo"><img alt="The University of Arizona Wordmark Line Logo White" src="https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg" class="arizona-line-logo"></a></div>
			</section>
		</header>

	<div class="mainbody">
		<br><p>	The website was developed under the U.S. Department of Agriculture Grant # 2017-68005-26867. It is colloquially known as the Sustainable Bioeconomy for Arid Regions (SBAR) project. This project aims to assess the economic and environmentally viability of two bio-product crops: <b>Guayule & Guar</b>. The project combines engineering, science, and outreach practices. Two goals of the SBAR project are to:</p>
		<p>
		•	Develop high-throughput phenotyping to support crop expansion using remote-sensing methods to create interactive databases/tools</p>
	<p>	•	Deploy agronomic production practices; identify agronomic information for salinity, herbicide, and nutrients to support production; provide irrigation apps using algorithms to growers.</p>
		
		
		<p>This website hopes to accomplish both of those goals by combining databases with computer model analysis. This website allows users to view and download model data, predict irrigation events, and input data into the model for analysis. The WINDS model is a python3-based model that predicts various soil & water parameters for crops. It also features an interactive irrigation calculator that can predict when the next irrigation event for a particular planting will occur. Users can also input their own planting data that will be used by the model.</p> 
 		</div>
		<div class="footer">
			<img src="https://i.ibb.co/BTkZ92b/logos1234-removebg-preview.png" alt="Logos" style="width:800px"> <P>Any opinions, findings, conclusions, or recommendations expressed in this publication are those of the author(s) and do not necessarily reflect the view of the U.S. Department of Agriculture. Grant # 2017-68005-26867.</p>

		</div>
</body>
</html>