<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='color.css') }}">
    <title>WINDS</title>
</head>

<body>
  <header class="bg-cochineal-red">
			<section class="container">
				<div class="rowbanner"><a href="http://www.arizona.edu" title="The University of Arizona homepage" class="arizona-logo"><img alt="The University of Arizona Wordmark Line Logo White" src="https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg" class="arizona-line-logo"></a></div>
			</section>
	<p>Select if you would like to view layered or non-layered soil data.</p>

	  <form id="form1" action="/layereddata" method="POST" enctype="multipart/form-data">
		<table border='0'>
		<tr><td>

		<div class="container">
		<form method="post" action="/">
        		<input type="submit" name="LayeredData" value="Layered Data">
   	 	</form>

	<form id="form2" action="/nonlayered" method="POST" enctype="multipart/form-data">
		<table border='0'>
		<tr><td>

		<div class="container">
		<form method="post" action="/">
        		<input type="submit" name="NonLayered" value="Non Layered">
   	 	</form>
	<p>Interactable Irrigation Calculator</p>
	<form id="form3" action="/irrigation" method="POST" enctype="multipart/form-data">
		<table border='0'>
		<tr><td>

		<div class="container">
		<form method="post" action="/">
        		<input type="submit" name="Irrigation" value="Irrigation">
   	 	</form>
 		</div>
		



		</header>

	<div class="mainbody">
			<br>

	


</body>
</html>