<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/layereddata">Layered Data Viewer</a>
  <a href="/nonlayered">Non-Layered Data Viewer</a>
  <a href="/irrigation">Irrigation Predictor</a>
  <a href="/datainput">Input Field Data</a>
  <a href="/irrigationinput">Input Irrigation Data</a>
  <a href="/about">About</a>
  <a href="/thanks">Acknowledgements</a>
</div>
<form action="/login" method="get">
  <button type="submit">Login</button>
  <button type="submit" formaction="/register">Register</button>
</form>

<div class="mainbody">
    
    <p> Welcome to the WINDS website. </p>
    
    
    
<div class="footer">
			<img src="https://i.ibb.co/BTkZ92b/logos1234-removebg-preview.png" alt="Logos" style="width:800px"> <P>Any opinions, findings, conclusions, or recommendations expressed in this publication are those of the author(s) and do not necessarily reflect the view of the U.S. Department of Agriculture. Grant # 2017-68005-26867.</p>

		</div>

</body>
</html>
