<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='color.css') }}">
    <title>WINDS</title>
</head>

<body>
  <header class="bg-cochineal-red">
			<section class="container">
				<div class="rowbanner"><a href="http://www.arizona.edu" title="The University of Arizona homepage" class="arizona-logo"><img alt="The University of Arizona Wordmark Line Logo White" src="https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg" class="arizona-line-logo"></a></div>
			</section>
		</header>


	<div class="mainbody">

	<form id="form1" action="/irrigationcalculator" method="POST" enctype="multipart/form-data">
 	<p>Irrigation Application</p>
        <p>This application will estimate the next irrigation date based on the managable allowed depletion</p>
	</td><td> <select id="mySelect1" name = "plant_name_irr">
		{% for each in plant_name_irr %}
		  <option value="{{each}}">{{each}}</option>
		{% endfor %}
		</select></td></tr><tr><td>
	</td><td> <select id="mySelect2" name = "field_name_irr">
		{% for each in field_name_irr %}
		  <option value="{{each}}">{{each}}</option>
		{% endfor %}
		</select></td></tr><tr><td>
	</td><td> <select id="mySelect3" name = "account_name_irr">
		{% for each in account_name_irr %}
		  <option value="{{each}}">{{each}}</option>
		{% endfor %}
		</select></td></tr><tr><td>

 	<p>Select the date.</p></p></td><td> <select id="mySelect" name = "planting_date">
		{% for each in planting_date %}
		  <option value="{{each}}">{{each}}</option>
		{% endfor %}
		</select></td></tr><tr><td> 
		<br>

		<input type="submit" value="Get next irrigation date">
	  </form>

	  </div>
	</div>
</body>
</html>