<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='color.css') }}">
    <title>WINDS</title>
</head>

<body>
  <header class="bg-cochineal-red">
			<section class="container">
				<div class="rowbanner"><a href="http://www.arizona.edu" title="The University of Arizona homepage" class="arizona-logo"><img alt="The University of Arizona Wordmark Line Logo White" src="https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg" class="arizona-line-logo"></a></div>
			</section>
		</header>


	<div class="mainbody">
	<p> Please upload your neutron probe file. This should be an excel file organized by depth and tubes. Download the template if needed.</p>
    <form action='/gettemplateneutron' method='post'>
                <input type='submit', value="Download Template">	
  		</form>
    
    <form id="form1" action="/neutronprobesuccess" method="POST" enctype="multipart/form-data">
    
    <input type="file" name="file">
    <p>Please specify the Planting Name, if the selection is empty, please create a new planting:</p>
      <select id="plantingname" name = "plantingname">
		{% for each in plantingname %}
		  <option value="{{each}}">{{each}}</option>
		{% endfor %}
		</select><tr><td>
        
    <br>    
        
    <input type="submit" value="Submit">
    </form>
	</div>
</body>
</html>