<!doctype html>
<html>
<head>
	<title>WINDS</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='color.css') }}">
</head>
<body>
<header class="bg-cochineal-red">
			<section class="container">
				<div class="rowbanner"><a href="http://www.arizona.edu" title="The University of Arizona homepage" class="arizona-logo"><img alt="The University of Arizona Wordmark Line Logo White" src="https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg" class="arizona-line-logo"></a></div>
			</section>
		</header>
	<div class="mainbody">
		<div class=page>
			<div id="result">
				You must select a data field to view. <br>
				<button type="button" onclick="javascript:history.back()">Go Back</button>
			  </div>

		</div>
	</div>
</body>
</html>


