<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='color.css') }}">
    <title>WINDS</title>
</head>

<body>
  <header class="bg-cochineal-red">
			<section class="container">
				<div class="rowbanner"><a href="http://www.arizona.edu" title="The University of Arizona homepage" class="arizona-logo"><img alt="The University of Arizona Wordmark Line Logo White" src="https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg" class="arizona-line-logo"></a></div>
			</section>
		</header>

	<div class="mainbody">
		<br><p>	
		The authors of this webpage would like to thank the authors of the python libraries: </p>

		<p>•<a href="https://flask.palletsprojects.com/en/2.0.x//">Flask</a> - Armin Ronacher</p>
		<p>•<a href="https://pandas.pydata.org/">Pandas</a> - Wes McKinney</p>
		<p>•<a href="https://pymysql.readthedocs.io/en/latest/index.html">PyMySQL</a> - Yutaka Matsubara</p>
		<p>•<a href="https://matplotlib.org/">Matplotlib</a> - John D. Hunter</p>

		<p>For their tireless & often reward-less work in developing such libraries. </p>

 		</div>
		<div class="footer">
			<img src="https://i.ibb.co/BTkZ92b/logos1234-removebg-preview.png" alt="Logos" style="width:800px"> <P>Any opinions, findings, conclusions, or recommendations expressed in this publication are those of the author(s) and do not necessarily reflect the view of the U.S. Department of Agriculture. Grant # 2017-68005-26867.</p>

		</div>
</body>
</html>