<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='color.css') }}">
    <title>WINDS</title>
</head>

<body>
  <header class="bg-cochineal-red">
			<section class="container">
				<div class="rowbanner"><a href="http://www.arizona.edu" title="The University of Arizona homepage" class="arizona-logo"><img alt="The University of Arizona Wordmark Line Logo White" src="https://brand.arizona.edu/sites/default/files/digital-resources/ua_wordmark_line_logo_white_rgb.svg" class="arizona-line-logo"></a></div>
			</section>
		</header>
  <p>Insert the Data you want to submit to the database.</p>

  <form id="form1" action="/login" method="POST" enctype="multipart/form-data">
	<form role="form" method='POST' action='/'>
        <div class="form-group">
          Planting Name: <input type="text" name="Planting_Name" class="form-control" id="url-box" placeholder="..." style="max-width: 300px;" autofocus required>

          Field:</td><td> <select id="myField" name = "field_name">
		{% for each in dropdown_list %}
		  <option value="{{each}}">{{each}}</option>
		{% endfor %}
		</select></td></tr><tr><td>

          Crop: </td><td> <select id="myCrop" name = "crop_name">
		{% for each in dropdown_list %}
		  <option value="{{each}}">{{each}}</option>
		{% endfor %}
		</select></td></tr><tr><td>

          Planting Date: <input type="text" name="Planting_Date" class="form-control" id="url-box" placeholder="..." style="max-width: 300px;" autofocus required>

          Water Application Rate:<input type="text" name="WaterApp_Rate" class="form-control" id="url-box" placeholder="..." style="max-width: 300px;" autofocus required>

          Notes:<input type="text" name="Notes" class="form-control" id="url-box" placeholder="..." style="max-width: 300px;" autofocus required>
   	</div>
          

          <input type="submit" value="Submit">
	</form>
    
</body>
</html>